.row {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
/* CSS for Tracklist*/
/*Mobile CSS*/
.grid {
    display:grid;
    grid-template-columns: [image] 7% [info] 25% [timestamp] 25% [links] 35%;
    column-gap: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: #000000;
    color:white;
    font-size: 11px;
    background-color: rgba(211, 211, 211, 0.217);
    text-align: center;
}
.unreleased-grid {
    display:grid;
    grid-template-columns: [image] 7% [info] 25% [timestamp] 25% [links] 35%;
    column-gap: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: #000000;
    color:white;
    font-size: 11px;
    background-color: rgba(211, 211, 211, 0.217);
    text-align: center;
}

.grid:hover {
    background-color: rgba(173, 216, 230, 0.21);
}

.index{
    display: none;
}

.index-unreleased{
    display: none;
}

.image{
    display: grid;
    overflow: hidden;
    min-width: 50px;
    min-height: 50px;
    padding-left: 5px;
}


.song-info{
    display:grid;
    height:100%;
    padding-top: 4px;
}

.song-info-unreleased{
    display:grid;
    height:100%;
    color:gray;
    padding-top: 4px;
}
.timestamp{
    padding-top: 15px;
}
.timestamp-unreleased {
    padding-top: 15px;
    color:gray;
}
.status{
    padding-top: 6px;
}
.status-unreleased {
    color:gray;
    padding-top: 3px;
}


.songArtist{
    width:100%;
}

.desktop-popup{
    display:none;

}
#notifyme-button{
    transform: scale(.85);
    text-align: center;
    width: 103px;
}
#listen-button{
    transform: scale(.85);
    text-align: center;
}

@media (max-width: 570px) {
    #listen-button{
        display: none;
    }
}


/*Desktop CSS*/
@media (min-width: 570px) {
    .grid {
        display:grid;
        grid-template-columns: [index] 3% [image] 7% [info] 13% [timestamp] 40% [links] 30%;
        column-gap: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-top:20px;
        margin-left: 20px;
        margin-right: 20px;
        border-color: #000000;
        color:white;
        font-size: medium;
        text-align: center;


    }

    .unreleased-grid {
        display:grid;
        grid-template-columns: [index] 3% [image] 7% [info] 13% [timestamp] 40% [links] 30%;
        column-gap: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-color: #000000;
        color:white;
        font-size: medium;
        text-align: center;
    }


    .grid:hover{
        background-color: rgba(173, 216, 230, 0.258);
    }
    
    .song-info{
        display:grid;
        height:100%;
        min-width: 87px;
    }

    
    .song-info-unreleased{
        display:grid;
        height:100%;
        color:gray;
        min-width: 87px;
    }

    .index{
        display:block;
        padding-top: 15px;
    }

    .index-unreleased{
        display:block;
        color:gray;
        padding-top: 15px;
    }
    .image{
        display: grid;
        overflow: hidden;
        min-width: 50px;
        min-height: 50px;
    }
    
    .songArtist{
        width:100%;
    }

    .timestamp{
        padding-top: 15px;
    }

    .timestamp-unreleased {
        color:gray;
        padding-top: 15px;
    }
    .status{
        padding-top: 4px;
    }
    .status-unreleased {
        color:gray;
    }
    
    
    .mobile-bottomsheet{
        display:none;
    }

    .desktop-popup{
        display:flex;
    }

    

    
}
