
<!--Spotify-->
<div class="containers">
    <img class="image" src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-download-logo-30.png">
    <a style="text-decoration:none; color:black" href="https://open.spotify.com/album/7aQPZJolEV6D1oikzZyW49?si=2k5KxRsxQxeT9ESQ2AWWOw">
    <span>
        Spotify
    </span>
</a>
</div>

<!--Soundcloud-->
<div class="containers">
    <img class="image" src="https://toppng.com/uploads/preview/soundcloud-logo-11550711745psbo4fydvd.png">
    <a style="text-decoration:none; color:black;" href="https://soundcloud.com/wearehooders/furious">
    <span>
        Soundcloud
    </span>
</a>
</div>


