/* CSS for Header*/
//Mobile CSS
.tracklistContainer{
  max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 

}
.header {
  display:grid;
  grid-template-columns: [image] 7% [info] 25% [timestamp] 25% [links]35%;
  column-gap: 10px;
  color:white;

}
.headerTitles {
    color: white;
    font-size: 14px;
    font-weight: 100px;
    text-align: center;
}
.gridcell-1{
  display: none;
}




//Banner
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.playlist-image-container{
    display:block;
}

.playlist-image{
    padding: 10px;
    height: 150px;
    width: 150px;
}
.embed{
    display: block;
    text-align: center;
}
iframe{
    width: 350px;
    height: 80px;
    border-color: black;
    border-width: 0.5px;
}

.info{
    display:grid;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.input-container{
    display:flex;

}

.info-input{
    display:grid;
    width:10%;
}

.button-container{
    margin-left: 15px;
    color: white;
}



 /* CSS for Logo */
 .logoContainer {
    text-align: center;
    padding: 10px;
}
.iconContainer {
    text-align: center;
    padding: 10px;
}
.logo {
    height: 27px;
    width: 100px;
    position: relative;
    padding-left: 10px;
}
.logoicon {
    height: 80px;
    width: 80px;
    position:relative; top: -5px;
    animation-duration: 15s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  }
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }


  //Desktop CSS
  @media (min-width: 570px) {
    .header {
      display:grid;
      grid-template-columns: [index] 3% [image] 7% [info] 13% [timestamp] 40% [links] 30%;
      column-gap: 14px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top:20px;
      margin-left: 20px;
      margin-right: 20px;
      border-color: #000000;
      color:white;

  }

  .headerTitles {
    color: white;
    font-size: 16px;
    font-weight: 100px;
    text-align: center;
}
  .gridcell-1{
    display: grid;
  }
  .gridcell-2 {
    display:grid;
  }
  .info{
    font-size: 24px;
  }

  }
