/* CSS for Header*/
.header {
    display:grid;
    grid-template-columns: [index] 5.5% [image] 4% [info] 40.5% [timestamp] 25% [links] 25%;
    column-gap: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #000000;
    color:white;
    font-size: medium;
    text-decoration: underline;
}
.headerTitles {
    padding-top: 5px;
    font-size: 13px;
    color: lightgray;
}

//Banner
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.playlist-image-container{
    display:block;
}

.hover-img {
    color: #fff;
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    overflow: hidden;
    position: relative;
    text-align: center;
    
  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .hover-img:before,
  .hover-img:after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover:before,
  .hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.7;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }
.playlist-image{
    padding: 10px;
    height: 150px;
    width: 150px;
}
.embed{
    display: block;
    text-align: center;
}
iframe{
    width: 350px;
    height: 80px;
    border-color: black;
    border-width: 0.5px;
}

.info{
    display:grid;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.input-container{
    display:flex;

}

.info-input{
    display:grid;
    width:10%;
}

.button-container{
    margin-left: 15px;
    color: white;
}



 /* CSS for Logo */
 .logoContainer {
    text-align: center;
    padding: 10px;
}
.iconContainer {
    text-align: center;
    padding: 10px;
}
.logo {
    height: 27px;
    width: 100px;
    position: relative;
    padding-left: 10px;
}
.logoicon {
    height: 80px;
    width: 80px;
    position:relative; top: -5px;
    animation-duration: 15s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  }
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }