<div class="container">
    <div class="top-banner">
        <!--Title: should include the 
        1) playlist image 2) artist name 3) playlist name -->
    <div class="title">
            <img class="playlist-image" src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg">
        <div class="playlist-image-container">
            
        </div>
        <div class="info">
            <span>{{template.playlist}}</span>
            <span>{{template.artist}}</span>
        </div>
      
    </div>
    <div class="embed">
       
    </div>
    <!--icons-->
    <!--Commented Out because Artist Editability no longer needed:
     <div class="button-container">
        <button mat-icon-button color="primary" aria-label="add button for input" (click)="openArtistEntry()">
            <mat-icon>add_box</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="delete songs">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="change background">
            <mat-icon>insert_photo</mat-icon>
        </button>
    </div>
    -->
    
   
    </div>

<!--header information-->
<div class="tracklistContainer">
    <div class ="header">
        <div class="gridcell-1">
        </div>
        <div class="gridcell-2">

        </div>
        <div>
            <div style="min-width: 80px;" class="headerTitles">Title/Artist</div>
    
        </div>
        <div>
            <div class="headerTitles">Timestamp</div>
        </div>
        <div>
            <div class="headerTitles">Listen/Get Notified</div>
        </div>
    </div>
<!--tracklist--> 
<div class="tracklist-container">
    <app-song-rows></app-song-rows>
</div>   
    
<!--logo-->
<div class="logoContainer">
    <img class="logo" src="https://fanpad.xyz/img/logo-white-text.webp">
</div> 
<div class="iconContainer">
    <img class="logoicon" src="https://fanpad.xyz/img/logo-white-image.webp">
</div>
  
</div>
